* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
}


.up-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;

    padding-bottom:25px;
    margin-bottom: 90px;
}
.up-head>h1{
    margin-bottom: 10px;
    font-family:'Montserrat';
    font-weight: 400;
}
.up-head>h1:hover{
    font-size: 32px;
    
    transition: 0.2s ease-out; 
    cursor: pointer;
}

.app-warp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 15px;
    color: #FFF;
    margin-bottom: 116px;
    max-height: 198px;
    
}
input{
    padding: 15px 20px 15px 20px;
    margin: 10px 10px 10px 10px;
    width: 50vh;
    height: 50px;
    font-family: Lato;
    color: #FFF;
    border: none;
    outline: none;
    box-shadow: 10px 50x;
    border-radius: 15px 0px 15px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    transition: 0.2s ease-out;    
}

input:focus{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px  rgba(255, 255, 255, 0.4) solid;

}

.Text-Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:25px 80px 30px 80px;
    color: #FFF;
    border-radius: 9px 9px 9px 9px;
}

footer{
    background-color: hsla(0,0%,100%,0.1);
    backdrop-filter: blur(5px);
    color:rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  padding:5px 8px;
  margin-top: 10px;
  position: fixed;
  left:0vh;
  right:0vh;
  bottom: 0vh;
  width: 100%;
}
footer>a>i{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
}

h1{
    font-size: 30px;
    padding: 20px 10px 5px 10px;
}

hr.style-two {
    border: 0;
    height: 1px;
    width: 30%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));    
}

.wait{
    padding: 10px 30px 10px 30px;
}

.re{
    font-size: 25px;
    padding: 20px 10px 5px 10px;
}

p{
    padding: 5px 15px 20px 15px;
}


button{
    font-size: 20px;
    font-weight: 300;
    margin: 10px 20px 10px 20px ;
    padding: 10px 5px 10px 5px;
    border:none;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.1);  
     font-family: Lato;
    cursor: not-allowed;
}
.pr{
    color: #FFF;
    
    width: 22vh;

}
.ne{
    
    color: #FFF;
    width: 22vh;
}

.re{
    text-decoration: none;
    color: #FFF;
    font-size: 40px;
    font-family: Playfair Display SC;
}
.re:hover{
    /* color: red; */
    font-size: 42px;
    transition: 0.3s ease-in-out;
}
main{
    display: flex;
    justify-content: space-around;
    
    
}
i{
    padding: 5px;
}
.restaurants-info{
    font-weight: 400;
    font-size: 1.1em;
    font-family: Playfair Display SC;
    
}
